<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.statpump"
    android:versionCode="1"
    android:versionName="1.0" >
   
    <uses-sdk 
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/sp_icon"
        android:label="StatPump"
        android:logo="@drawable/sp_full"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.statpump.Pages.Loading"
            android:label="StatPump"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.statpump.Pages.Home"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="" >
        </activity>
        <activity
            android:name="com.example.statpump.Pages.HomeTeam"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="" >
        </activity>
        <activity
            android:name="com.example.statpump.ClassFiles.OAuthActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="" >
        </activity>
    </application>

</manifest>