<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.statpump.statpump"
    android:versionCode="25"
    android:versionName="2.5.2" >

    <uses-sdk
        android:minSdkVersion="13" 
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sp_icon"
        android:label="StatPump"
        android:logo="@drawable/sp_full"
        android:theme="@style/AppTheme" >

        <!-- Activities Required by Socialize -->
        <activity
            android:name="com.socialize.ui.comment.CommentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="" />
        <activity
            android:name="com.socialize.ui.action.ActionDetailActivity"
            android:label="" />
/>
        <activity
            android:name="com.socialize.ui.profile.ProfileActivity"
            android:label="" />
/>
        <activity
            android:name="com.socialize.auth.facebook.FacebookActivity"
            android:label="" />
/>
        <activity
            android:name="com.socialize.ui.SocializeLaunchActivity"
            android:label=""
            android:noHistory="true" />
/>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="" />
/>
        <activity
            android:name="com.example.statpump.Pages.Loading"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="StatPump" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.statpump.Pages.Home"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="" >
        </activity>
        <activity
            android:name="com.example.statpump.Pages.HomeTeam"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="" >
        </activity>
        <activity
            android:name="com.example.statpump.ClassFiles.OAuthActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="" >
        </activity>
        <activity
            android:name="com.statpump.statpump.FanScan"
            android:label="@string/title_activity_fan_scan" >
        </activity>
    </application>

</manifest>